@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Muli:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --font-primary: "Baloo Da 2", serif;
  --font-secundary: "Josefin Slab", serif;
  --font-action: "Muli", serif;
}

a,
button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  animation: zoom 25s;
}

@keyframes zoom {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.banner {
  position: absolute;
  top: 40%;
  left: 40%;
}

.banner h1 {
  color: #ffffff;
  text-align: center;
  font-size: 3.5rem;
  font-family: var(--font-primary);
  font-weight: 200;
  text-shadow: 0.3rem 0.4rem 2px rgba(0, 0, 0, 0.4);
  line-height: 3.5rem;
  margin-bottom: 2rem;
  opacity: 0;
  animation: moveBanner 1s 0.5s forwards;
}

.banner p {
  text-align: center;
  font-family: var(--font-secundary);
  color: #fff;
  font-size: 2rem;
  text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.4);
  margin-bottom: 2rem;
  opacity: 0;
  animation: moveBanner 1s 0.7s forwards;
}

@keyframes moveBanner {
  0% {
    transform: translateY(10rem) rotateY(-30deg);
  }
  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

.show-menu .sidebar {
  right: 0;
}

.conhecimentos {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(6, 6rem);
  row-gap: 0.5rem;
}

.conhecimento:nth-child(1) {
  grid-column: 4 / 7;
  grid-row: 1 / 3;
}

.conhecimento:nth-child(2) {
  grid-column: 3 / 6;
  grid-row: 3 / 5;
}

.conhecimento:nth-child(3) {
  grid-column: 4 / 7;
  grid-row: 5 / -1;
}

.conhecimento:nth-child(4) {
  grid-column: 11 / 14;
  grid-row: 1 / 3;
}

.conhecimento:nth-child(5) {
  grid-column: 12 / 15;
  grid-row: 3 / 5;
}

.conhecimento:nth-child(6) {
  grid-column: 11 / 14;
  grid-row: 5 / -1;
}

.sessao-conhecimentos {
  background-color: #f5f5f5;
  height: 100%;
}

.sessao-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sessao-header h1 {
  font-family: var(--font-primary);
  font-size: 3rem;
  color: #4b4b4b;
  border-bottom: solid 3px #6a3093;
  margin-bottom: 1.5rem;
}

.conhecimento-header {
  display: flex;
  align-items: center;
  color: #4b4b4b;
}

.conhecimento-header i {
  font-size: 2.5rem;
}

.conhecimento-header h3 {
  font-family: var(--font-secundary);
  font-size: 2rem;
  padding-left: 1rem;
}

.conhecimento-text {
  font-family: var(--font-secundary);
  align-items: justify;
  margin-top: 1rem;
}

.conhecimentos-img-wrapper {
  grid-column: 7 / 11;
  grid-row: 2 / 6;
  height: 110%;
}

.conhecimentos-img-wrapper img {
  object-fit: cover;
  height: 100%;
}

.projetos {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.card {
  width: 18rem;
  height: 25rem;
  position: relative;
}

.card-img-wrapper {
  width: 100%;
  height: 100%;
  background-color: #262626;
  border-radius: 0.5rem;
}

.card-img-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.card:hover .card-img-wrapper img {
  opacity: 0.5;
}

.card-info {
  position: absolute;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  padding: 2rem;
  text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.6);
  transition: all 0.3s;
}

.card-info h2 {
  font-family: var(--font-primary);
  font-size: 2rem;
  font-weight: 500;
  color: #eee;
}

.card-info h3 {
  font-family: var(--font-action);
  font-weight: bolder;
  color: #ff4081;
  margin-bottom: 1.5rem;
}

.card-info p {
  font-family: var(--font-secundary);
  color: #eee;
  font-weight: 400;
  width: 80%;
  margin-bottom: 2rem;
}

.btn {
  background: #6a3093;
  background: -webkit-linear-gradient(to right, #a044ff, #6a3093);
  background: linear-gradient(to left, #a044ff, #6a3093);
  font-family: var(--font-action);
  color: #eee;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
}

.btn-submit {
  font-size: 1.2rem;
  text-transform: uppercase;
  width: 80%;
  height: 2.5rem;
  margin-top: 1rem;
  letter-spacing: 0.2rem;
  cursor: pointer;
  text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}

.card-info button {
  width: 8rem;
  height: 2.5rem;
}

.card:hover .card-info {
  bottom: 2rem;
  opacity: 1;
  visibility: visible;
}

footer {
  width: 100%;
  height: 4rem;
  background-color: #370e52;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.footer-content p {
  font-family: var(--font-secundary);
  color: #a7a7a7;
  font-size: 1.2rem;
}

.social-list a {
  margin: 0 2rem;
  color: #a7a7a7;
  font-size: 1.3rem;
}

.social-list ul {
  display: flex;
}

